<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="card" style="width: 22rem;">
    <div class="card-body">
     <h5 style="text-align: center;"class="card-title">Sign In</h5>
      <!--  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <form class="card-text">
        <div class="form-group" [class.has-error]="userEmails">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="email"[ngModelOptions]="{standalone: true}"id="email" aria-describedby="emailHelp" required >  
        </div>

        


        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"id="exampleInputPassword2"required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!email || !password">Login </button> 
        <p style="text-align: center;"> or </p>
        <p style="text-align: center;text-decoration: underline;"><a [routerLink]="['../angular']">Register</a>
    </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br><br>
</body>
</html>
